body{
    box-sizing: border-box;
}
.title{
    width: 864px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}
.btn-grids, .btn-reset{
    padding: 10px;
    font-size: 16px;
    border-radius: 7px;
}
.header{
    width: 310px;
    margin-right: auto;
    font-size: 48px;
}
.container{
    display: flex;
    flex-wrap: wrap;
    width: 864px;
    height: 864px;
    margin: 0 auto;
    border: solid 1px black;
}
.container div{
    box-sizing: border-box;
    width: 54px;
    height: 54px;
    border: solid 1px black;
    background-color: white;
}