body{
    box-sizing: border-box;
}
.header{
    width: 310px;
    margin: 0 auto;
    font-size: 48px;
}
.container{
    display: flex;
    flex-wrap: wrap;
    width: 864px;
    height: 864px;
    margin: 0 auto;
    border: solid 1px black;
}
.container div{
    box-sizing: border-box;
    width: 54px;
    height: 54px;
    border: solid 1px black;
    background-color: white;
}